In [4]:
# First pattern
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 

input =5
print(input)
for i in range (0,input+1):
    print('*' * i)

5

*
**
***
****
*****

In [5]:
# second pattern
# 1
# 12
# 123
# 1234
# 12345

rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234
12345

In [3]:
# third pattern
#5
#54
#543
#5432
#54321
for i in range(5, 0, -1):
    for j in range(5, i - 1, -1):
        print(j, end='')
    print()

5
54
543
5432
54321

In [6]:
# fourth pattern
# 54321
# 4321
# 321
# 21
# 1
rows = 5
for i in range(rows, 0, -1):
    for j in range(i, 0, -1):
        print(j, end='')
    print()

54321
4321
321
21
1

In [7]:
# fifth pattern
# 12345
# 2345
# 345
# 45
# 5
for i in range(1, 6):
    for j in range(i, 6):
        print(j, end="")
    print()

In [ ]:
x=input("enter number :")
print(x)

In [ ]:
# sixth pattern
# 1
# 23
# 456
# 78910
# 1112131415 
num = 1
for i in range(1, 6):
    for j in range(i):
        print(num, end="")
        num += 1
    print()